@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "MyriadPro Light";
    src: url("../fonts/myriad/MYRIADPRO-LIGHT.OTF") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MyriadPro LightCond";
    src: url("../fonts/myriad/MyriadPro-LightCond.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Armenian Light";
    src: url("../fonts/armenian/ARM-HMKS-LIGHT-BOLD.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Armenian Bold";
    src: url("../fonts/armenian/ARM-HMKS-LIGHT-EXTRABOLD.TTF") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/**, body {*/
/*    font-family: 'MyriadPro Light', sans-serif !important;*/
/*}*/
html[lang="en"] *, body {
    font-family: 'MyriadPro Light', sans-serif !important;
}
html[lang="ru"] *, body {
    font-family: 'MyriadPro Light', sans-serif !important;
}
html[lang="am"] *, body {
    font-family: "Armenian Bold", sans-serif !important;
}
.app__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

body {
    padding-top: 170px;
}
.nav-bar{
    margin-bottom: 25px;
}
